.new-films {
  overflow: hidden;

  .thumbnail {
    margin-bottom: 0;
    // padding: 10px 5px;
    transition: background-color 0.5s;

    img {
      width: 100%;
    }

    &:hover {
      background-color: $color-accent;

      h3 {
        color: $color-light;
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
      @include text-shortener;

    }
  }

  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }

  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;
  }
}

.top-movies {

  overflow: hidden;

  .thumbnail {
    margin-bottom: 0;
    // padding: 10px 5px;
    transition: background-color 0.5s;

    img {
      width: 100%;
    }

    &:hover {
      background-color: $color-accent;

      h3 {
        color: $color-light;
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
      @include text-shortener;
    }
  }

  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }

  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;
  }
}

h1 {
  font-family: $font-header;
  font-size: 3rem;
  margin: -10px 0 48px 0;

  span {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 1920px;
      background-color: rgba($color-accent, 0.45);
      bottom: 14px;
      left: 105%;
      height: 3px;
    }
  }
}

h2 {
  font-family: $font-header;
  font-size: 2.5rem;
  margin: 52px 0 51px 43px;
  @extend %stripes;
}

.film-news {
  padding-bottom: 45px;
  overflow: hidden;

  &-item {
    &:hover {
      .thumbnail {
        background-color: $color-accent;
      }

      h3 {
        color: $color-accent;
      }

      .btn {
        background-color: $color-accent;
      }
    }
    &__text {
      text-align: justify;
    }
  }

  img {
    width: 100%;
  }

  .btn {
    float: right;
    margin-bottom: 30px;
  }
}