.new-films {
  .thumbnail {
    margin-bottom: 0;
    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  }

  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }
  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;
  }
}
.top-movies {
  .thumbnail {
    margin-bottom: 0;
    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  }

  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }
  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;
  }
}
